.git
.gitignore
.venv
**/__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
coverage.xml
*.log
test.log
*.sqlite3
*.sqlite3-*
.private.yml
CODI_repo/
__pycache__/
data/
datasets/
codi/api/training/tmp/
