# Python gitignore
*.pyc
*.pyo
*.pyd
__pycache__/
.mypy_cache/
.pyre
.pytest_cache/
.ruff_cache/
/.private.yml
/servant_commitments.sqlite3
.venv/
/*.sqlite3
/*.sqlite3-wal
/*.sqlite3-shm
cache.db
all_memes.json
/data/
/CODI_repo/
