fetch_user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36"
url_fetch_blocked_hosts:
  - "example.com"
web:
  user-agent: "<your-user-agent-string>"
openai:
  key: "<your-openai-key>"
discord:
  token: "<your-discord-token>"
imgflip:
  username: "<your-imgflip-username>"
  password: "<your-imgflip-password>"
brave:
  key: "<your-brave-key>"
