web:
  user-agent: "<your-user-agent-string>"
openai:
  key: "<your-openai-key>"
discord:
  token: "<your-discord-token>"
imgflip:
  username: "<your-imgflip-username>"
  password: "<your-imgflip-password>"
brave:
  key: "<your-brave-key>"
