web:
  user-agent: "<your-user-agent-string>"
openai:
  key: "<your-openai-key>"
discord:
  token: "<your-discord-token>"
imgflip:
  username: "<your-imgflip-username>"
  password: "<your-imgflip-password>"
brave:
  key: "<your-brave-key>"
google:
  drive:
    client_id: "<your-google-drive-oauth-client-id>"
    client_secret: "<your-google-drive-oauth-client-secret>"
    redirect_uri: "<your-google-drive-oauth-redirect-uri>"
